{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import HTMX, AlpineJS and Tailwind -->
    {% tailwind_css %}
    <!-- HTMX Version 1.9.10 -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
    <title>Naz Indian Restaurant</title>
    <!-- <style>
        body {
            font-family: 'Crimson Pro', serif;
        }
    </style> -->
</head>

<body>
    <!-- Navbar -->
    {% include 'components/navbar.html' %}


    {% block content %}{% endblock %}

</body>

</html>