<div class="my-24 flex flex-col justify-center items-center">

    <h1 class="text-6xl">Menu</h1>

    <!-- TODO: Use Accordion on Menu Sections only for small screen -->
    <!-- Removed items-center -->
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 justify-center">

        {% for category in menu_categories %}
        <div class="flex flex-col p-10 w-full max-w-xl">
            <!-- bg-green-200 sm:bg-yellow-200 md:bg-blue-200 lg:bg-purple-200 xl:bg-pink-200 -->

            <h2 class="text-4xl">{{ category.name }}</h2>

            {% if category.description %}
            <p class="italic">{{ category.description }}</p>
            {% endif %}

            <!-- Menu Items Container -->
            <div class="flex flex-col gap-4 mt-4">

                <!-- Menu Item -->
                {% for item in category.menu_items %}
                <div class="flex gap-4 items-center justify-between">
                    <div>
                        <h3 class="font-semibold">{{ item.name }}</h3>
                        <p class="text-sm">{{ item.description }}</p>
                    </div>
                    <p>{{ item.price }}</p>
                </div>
                {% endfor %}

            </div>

        </div>
        {% endfor %}
        
    </div>


</div>