<div class="my-24 flex flex-col justify-center items-center">

    <h1 class="text-6xl">Menu</h1>

    <!-- TODO: Use Accordion on Menu Sections only for small screen -->
    <!-- Menu Sections to have optional descriptions such as Clay Oven Dishes section -->

    <!-- Starters -->
    <div class="flex flex-col p-10">
        <h2 class="text-4xl">Starters</h2>

        <!-- Starters Menu Items -->
        <div class="flex flex-col gap-4 mt-4">
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Spicy Papadoms</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Papadoms</h3>
                    <p class="text-sm">Lamb marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£4.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Onion Bhaji</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Meat Samosa</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Vegetable Samosa</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Chicken Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Lamb Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Paneer Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Salmon Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori Chicken</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Sheek Kebab</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Shami Kebab</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Reshmi Kebab</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Prawn Puree</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">King Prawn Puree</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">King Prawn Butterfly</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Mixed Kebab</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Chicken Chat Puree</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Prawn Cocktail</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
        </div>
    </div>

    <!-- Clay Oven Dishes -->
    <div class="flex flex-col p-10">
        <h2 class="text-4xl">Clay Oven Dishes</h2>
        <p class="italic">Served with green salad & mint sauce</p>

        <!-- Clay Oven Dishes Menu Items -->
        <div class="flex flex-col gap-4 mt-4">
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Chicken Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Lamb Tikka</h3>
                    <p class="text-sm">Lamb marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£4.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Paneer Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Salmon Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori Chicken (half)</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori Chicken (full)</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori Mixed Grill</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Chicken or Lamb Shashlik</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Salmon Shashlik</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Paneer Shashlik</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori King Prawn</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>
            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori King Prawn Shashlik</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

        </div>
    </div>

    <!-- House Specials -->
    <div class="flex flex-col p-10">
        <h2 class="text-4xl">House Specials</h2>

        <!-- House Specials Menu Items -->
        <div class="flex flex-col gap-4 mt-4">

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori Mix Korahi</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Garlic Chengri</h3>
                    <p class="text-sm">Lamb marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£4.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Murgh Massala</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Sobzi Mix</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Tandoori Mix Massala</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Zinga Balti</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Korahi Chicken Dansak</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Lamb Xacuti</h3>
                    <p class="text-sm">Lamb marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£4.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Badami Chicken Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Kanakati Chicken Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Naga Chicken Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

            <div class="flex gap-4 items-center justify-between">
                <div>
                    <h3 class="font-semibold">Rezala Chicken/ Lamb Tikka</h3>
                    <p class="text-sm">Chicken marinated in yoghurt, herbs and spices, cooked in the tandoor</p>
                </div>
                <p>£3.95</p>
            </div>

        </div>
    </div>

</div>